@tailwind base;
@tailwind components;
@tailwind utilities;


/* Typography */
.primary-font-base-style {
  @apply font-primary font-light;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.secondary-font-base-style {
  @apply font-secondary font-light;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

h1 {
  @apply primary-font-base-style text-5xl;
}

h2 {
  @apply primary-font-base-style text-4xl;
}

h3 {
  @apply primary-font-base-style text-2xl;
}

h4 {
  @apply primary-font-base-style text-xl;
}

.subtitle1 {
  @apply secondary-font-base-style text-2xl font-extralight;
}

.subtitle2 {
  @apply secondary-font-base-style text-sm;
}

.body1 {
  @apply primary-font-base-style text-overline;
  line-height: 1.5;
  font-weight: 200;
}

.body2 {
  @apply primary-font-base-style text-base;
  line-height: 1.5;
}

.caption {
  @apply primary-font-base-style text-xs;
  font-weight: 400;
}

.a8-overline {
  @apply secondary-font-base-style text-overline;
  letter-spacing: 0.05em;
}

/* Border */
.default-border {
  @apply border border-neutral-black;
}

.border-rounded-bl-none {
  border-radius: 16px 16px 16px 0;
}

.border-rounded-br-none {
  @apply border-neutral-darkGray;
  border: 1px solid;
  border-radius: 16px 16px 0 16px;
}

.border-rounded-bl-none {
  @apply border-neutral-darkGray;
  border: 1px solid;
  border-radius: 16px 16px 16px 0;
}

.border-underline {
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid;
}

/* Button */
.button-primary {
  @apply secondary-font-base-style text-base cursor-pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: background-color 0.2s;
}

.button-primary:hover {
  @apply border-2
} 

.button-squared {
  @apply secondary-font-base-style text-base cursor-pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: background-color 0.2s;
}

.button-squared:hover {
  @apply bg-primary-darkBlue;
  color: white;
} 

.button-squared:hover svg path{
  fill: white; /* Explicitly setting SVG fill color to white on hover */
} 

.button-secondary {
  @apply secondary-font-base-style text-base cursor-pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: background-color 0.2s;
}

/* Scrollbar Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Scrollbar Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Container Section */
.content-container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1240px;
}

/* Gradient Section */
:root {
  --gradient-radius-mobile: 379px;
  --gradient-radius-desktop: 1057px;
  --gradient-blur-mobile: 110px;
  --gradient-blur-desktop: 307px;
}

.hero-top-gradient {
  position: absolute;
  right: 0px;
  transform: translate(50%, -50%);
  width: var(--gradient-radius-desktop);
  height: var(--gradient-radius-desktop);
  border-radius: var(--gradient-radius-desktop);
  filter: blur(var(--gradient-blur-desktop));
  @apply bg-secondary-lightOrange;
}

.top-left-gradient {
  position: absolute;
  transform: translate(-50%, -50%);
  width: var(--gradient-radius-desktop);
  height: var(--gradient-radius-desktop);
  border-radius: var(--gradient-radius-desktop);
  filter: blur(var(--gradient-blur-desktop));
  @apply bg-secondary-lightOrange;
}

.hero-bottom-gradient {
  position: absolute;
  bottom: 0px;
  transform: translate(-50%, 50%);
  width: var(--gradient-radius-desktop);
  height: var(--gradient-radius-desktop);
  border-radius: var(--gradient-radius-desktop);
  filter: blur(var(--gradient-blur-desktop));
  background: #4d628f;
}

.bottom-right-gradient {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: translate(50%, 50%);
  width: var(--gradient-radius-desktop);
  height: var(--gradient-radius-desktop);
  border-radius: var(--gradient-radius-desktop);
  filter: blur(var(--gradient-blur-desktop));
  background: #4d628f;
}

@media (max-width: 768px) {
  .hero-top-gradient,
  .hero-bottom-gradient,
  .top-left-gradient,
  .bottom-right-gradient {
    width: var(--gradient-radius-mobile);
    height: var(--gradient-radius-mobile);
    border-radius: var(--gradient-radius-mobile);
    filter: blur(var(--gradient-blur-mobile));
  }
}

/* Logo Position */
@media (max-width: 1300px) {
  .homepage-hero-logo {
    right: calc((100vw - 1300px));
  }
}

@media (max-width: 925px) {
  .homepage-hero-logo {
    display: none;
  }
}

@media (max-width: 1300px) {
  .companypage-hero-logo {
    left: calc((100vw - 1300px));
  }
}

@media (max-width: 925px) {
  .companypage-hero-logo {
    display: none;
  }
}
